// This is merging of H5BP and Zen grids with addition of John Albin _normalize.css
// H5BP by Nicolas Gallagher, Paul Irish, and Divya Manian -- https://html5boilerplate.com/
// Zen Grids        by John Albin  -- http://zengrids.com/
// _normalize.scss  by John Albin  -- https://github.com/JohnAlbin/normalize-scss/

@import
  // Gem helpers
"compass",
"breakpoint",

// Zen grids modules.
"zen-grids",
"zen-grids/background",
"zen-grids/flow",

// Abstractions, does not generate any code
"abstractions/visually-hidden",

// Various variables
"variables/init",
"variables/colors",
"variables/typography",
"variables/layout",

// Base styling, applies to HTML elements, sets defaults
"base/normalize",
"base/helper-classes",
"base/base-elements",
"base/layouts",
"base/drupal-common",

// Component styling, override for blocks, pages
"components/components",

// Print, last but not least
"base/print";