<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Adactio: Jeremy Keith</title>
  <meta name="description" content="Adactio is the website of Jeremy Keith, a web developer living in Brighton in southern England." />
  <meta name="author" content="Jeremy Keith" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow" />
  <link rel="me" href="mailto:jeremy@adactio.com" />
  <link rel="me" href="sms:+447792069292" />
  <link rel="me" href="ni:///sha-256;y5LuBRUHdxOlutHxDS2OnyEHuyFDai-rTxWMTuauXlI?ct=application/x-x509-user-cert" />
  <link rel="webmention" href="https://adactio.com/webmention" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="authorization_endpoint" href="https://indiecert.net/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="token_endpoint" href="https://indiecert.net/token" />
  <link rel="micropub" href="https://adactio.com/micropub" />
  <link rel="search" type="application/opensearchdescription+xml" href="https://adactio.com/opensearch.xml" title="Adactio" />
  <link rel="openid.server" href="https://indieauth.com/openid" />
  <link rel="openid.delegate" href="https://adactio.com/" />
  <link rel="alternate" type="application/rss+xml" title="Journal RSS" href="/journal/rss" />
  <link rel="alternate" type="application/rss+xml" title="Links RSS" href="/links/rss" />
  <link rel="alternate" type="application/rss+xml" title="Articles RSS" href="/articles/rss" />
  <link rel="alternate" type="application/rss+xml" title="Notes RSS" href="/notes/rss" />
  <link rel="alternate" type="application/rss+xml" title="Journal, links, articles and notes RSS" href="/rss/" />
  <link rel="author" href="/about/myself" title="About the author" />
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link rel="shortcut icon apple-touch-icon" type="image/png" href="/icon.png" />
  <link rel="stylesheet" href="/skins/default/global.css" />
  <link rel="stylesheet" href="/includes/css/print.css" media="print" title="print" />

  <!-- Ah, I see you want a peek at the source code. -->
  <!-- That's the great thing about the web: -->
  <!-- reverse engineering. -->
  <!-- If you have any questions, feel free to write to me: -->
  <!-- jeremy at adactio dot com -->

</head>
<body>

<header role="banner">

  <!-- Begin with the logo -->

  <div id="logo">
    <h1><a href="//adactio.com" accesskey="1" title="Home"><span>adactio</span></a></h1>
  </div>


  <!-- Show any nice pictures here -->

  <div role="presentation">
    <div class="home"></div>
  </div>

  <!-- Now we have the navigation -->

  <div role="navigation">

    <nav>
      <ul>
        <li><a href="/journal/" title="My thoughts and ramblings">Journal</a></li>
        <li><a href="/links/" title="Handpicked hyperlinks">Links</a></li>
        <li><a href="/articles/" title="Longer thoughts and ramblings">Articles</a></li>
        <li><a href="/notes/" title="Brief observations">Notes</a></li>
        <li><a href="/about/" title="Background information">About</a></li>
      </ul>
    </nav>

  </div>

</header>

<!-- Here's the main content -->

<main role="main">
  <section><h1>August 21st, 2015</h1>
    <article class="h-entry">

      <figure class="p-name e-content">
        <a href="/notes/9419">
          <picture>
            <source media="all and (min-width: 65em)" srcset="/images/uploaded/9419/large.jpg" />
            <source media="all and (min-width: 27em)" srcset="/images/uploaded/9419/medium.jpg, /images/uploaded/9419/large.jpg 1.25x" />
            <img class="u-photo" src="/images/uploaded/9419/small.jpg" srcset="/images/uploaded/9419/medium.jpg 1.5x, /images/uploaded/9419/large.jpg 2.5x" alt="Lovely lettering by @MonikaBansal28." />
          </picture>
        </a>
        <figcaption>
          <p>Lovely lettering by <a href="https://twitter.com/MonikaBansal28">@MonikaBansal28</a>.</p>

        </figcaption>
      </figure>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/notes/9419">
            <time class="dt-published" datetime="2015-08-21T17:09:33Z">
              5:09pm
            </time>
          </a>
        </p>
        <p class="meta">
          Also on
          <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634759298862686208">Twitter</a>
          <a rel="syndication" class="u-syndication" href="https://flickr.com/photos/adactio/20770167871">Flickr</a>
        </p>
      </footer>

    </article>

    <article class="h-entry">

      <div class="p-name e-content">
        <p>Still giggling over the best mistyped CSS declaration ever, shared by <a href="https://twitter.com/LotteJackson">@LotteJackson</a>…</p>

        <p>display: bolock;</p>

        <p>Anyone else ever done that?</p>

      </div>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/notes/9418">
            <time class="dt-published" datetime="2015-08-21T15:55:01Z">
              3:55pm
            </time>
          </a>
        </p>
        <p class="meta">
          Also on
          <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634740496859045888">Twitter</a>
        </p>
      </footer>

    </article>

    <article class="h-entry">

      <div class="p-name e-content">
        <p>Making <a href="https://twitter.com/LotteJackson">@LotteJackson</a> read <a href="https://twitter.com/SlightlyLate">@SlightlyLate</a>’s newest post after she spent ages trying to fix a problem caused by a missing vendor prefix hyphen.</p>

      </div>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/notes/9417">
            <time class="dt-published" datetime="2015-08-21T15:47:48Z">
              3:47pm
            </time>
          </a>
        </p>
        <p class="meta">
          Also on
          <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634738680763142144">Twitter</a>
        </p>
      </footer>

    </article>

    <article class="xfolkentry h-entry">

      <div class="e-content">

        <h2>
          <a class="taggedlink p-name" href="http://iamvdo.me/en/blog/css-element-function">
            CSS element() function - Vincent De Oliveira
          </a>
        </h2>

        <p>Fire up Firefox and try out these demos: the CSS <code>element</code> value is pretty impressive (although there are currently some serious performance issues).</p>

        <blockquote>
          <p>To put it simply, this function renders any part of a website as a live image. A. Live. Image! </p>
        </blockquote>

      </div>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/links/9416">
            <time class="dt-published" datetime="2015-08-21T11:13:41Z">
              11:13am
            </time>
          </a>
        </p>
        <p class="meta">
          Tagged with
          <a rel="tag" class="p-category" href="/links/tags/css">css</a>
          <a rel="tag" class="p-category" href="/links/tags/element">element</a>
          <a rel="tag" class="p-category" href="/links/tags/frontend">frontend</a>
          <a rel="tag" class="p-category" href="/links/tags/development">development</a>
          <a rel="tag" class="p-category" href="/links/tags/browsers">browsers</a>
          <a rel="tag" class="p-category" href="/links/tags/effects">effects</a>
          <a rel="tag" class="p-category" href="/links/tags/interface">interface</a>
          <a rel="tag" class="p-category" href="/links/tags/ui">ui</a>
        </p>
      </footer>

    </article>

    <article class="xfolkentry h-entry">

      <div class="e-content">

        <h2>
          <a class="taggedlink p-name" href="http://scotthurff.com/posts/why-your-user-interface-is-awkward-youre-ignoring-the-ui-stack">
            How to fix a bad user interface - Scott Hurff
          </a>
        </h2>

        <p>A lesson on the importance of handling each state of an interface:</p>

        <ul>
          <li>the blank state,</li>
          <li>the loading state,</li>
          <li>the partial state,</li>
          <li>the error state,</li>
          <li>and the ideal state</li>
        </ul>

        <p>&#8230;instead of just focusing on that last one.</p>

      </div>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/links/9415">
            <time class="dt-published" datetime="2015-08-21T11:04:40Z">
              11:04am
            </time>
          </a>
        </p>
        <p class="meta">
          Tagged with
          <a rel="tag" class="p-category" href="/links/tags/interface">interface</a>
          <a rel="tag" class="p-category" href="/links/tags/ui">ui</a>
          <a rel="tag" class="p-category" href="/links/tags/design">design</a>
          <a rel="tag" class="p-category" href="/links/tags/state">state</a>
          <a rel="tag" class="p-category" href="/links/tags/ux">ux</a>
          <a rel="tag" class="p-category" href="/links/tags/interaction">interaction</a>
        </p>
      </footer>

    </article>

    <article class="xfolkentry h-entry">

      <div class="e-content">

        <h2>
          <a class="taggedlink p-name" href="https://90days.john-ellison.com/2015/crafting-a-bridge-between-storytelling-ux-design">
            Crafting A Bridge Between Storytelling & UX Design
          </a>
        </h2>

        <p>I kind of want to link to every one of John&#8217;s post chronicling his 90 days at Clearleft, but this one is particular good, I think: how narrative ideas from the world of storytelling can help unlock some design problems.</p>

      </div>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/links/9414">
            <time class="dt-published" datetime="2015-08-21T10:55:28Z">
              10:55am
            </time>
          </a>
        </p>
        <p class="meta">
          Tagged with
          <a rel="tag" class="p-category" href="/links/tags/clearleft">clearleft</a>
          <a rel="tag" class="p-category" href="/links/tags/storytelling">storytelling</a>
          <a rel="tag" class="p-category" href="/links/tags/ux">ux</a>
          <a rel="tag" class="p-category" href="/links/tags/design">design</a>
          <a rel="tag" class="p-category" href="/links/tags/narrative">narrative</a>
          <a rel="tag" class="p-category" href="/links/tags/stories">stories</a>
          <a rel="tag" class="p-category" href="/links/tags/personas">personas</a>
        </p>
      </footer>

    </article>

    <article class="h-entry">

      <figure class="p-name e-content">
        <a href="/notes/9413">
          <picture>
            <source media="all and (min-width: 65em)" srcset="/images/uploaded/9413/large.jpg" />
            <source media="all and (min-width: 27em)" srcset="/images/uploaded/9413/medium.jpg, /images/uploaded/9413/large.jpg 1.25x" />
            <img class="u-photo" src="/images/uploaded/9413/small.jpg" srcset="/images/uploaded/9413/medium.jpg 1.5x, /images/uploaded/9413/large.jpg 2.5x" alt="Some Poppy therapy for @alexandtheweb in the @clearleft HQ." />
          </picture>
        </a>
        <figcaption>
          <p>Some Poppy therapy for <a href="https://twitter.com/alexandtheweb">@alexandtheweb</a> in the <a href="https://twitter.com/clearleft">@clearleft</a> HQ.</p>

        </figcaption>
      </figure>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/notes/9413">
            <time class="dt-published" datetime="2015-08-21T10:22:59Z">
              10:22am
            </time>
          </a>
        </p>
        <p class="meta">
          Also on
          <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634656978166489088">Twitter</a>
          <a rel="syndication" class="u-syndication" href="https://flickr.com/photos/adactio/20729316356">Flickr</a>
        </p>
      </footer>

    </article>

    <article class="h-entry">

      <figure class="p-name e-content">
        <a href="/notes/9412">
          <picture>
            <source media="all and (min-width: 65em)" srcset="/images/uploaded/9412/large.jpg" />
            <source media="all and (min-width: 27em)" srcset="/images/uploaded/9412/medium.jpg, /images/uploaded/9412/large.jpg 1.25x" />
            <img class="u-photo" src="/images/uploaded/9412/small.jpg" srcset="/images/uploaded/9412/medium.jpg 1.5x, /images/uploaded/9412/large.jpg 2.5x" alt="Breakfast with Poppy." />
          </picture>
        </a>
        <figcaption>
          <p>Breakfast with Poppy.</p>

        </figcaption>
      </figure>

      <footer>
        <p class="meta">
          <a rel="bookmark" class="u-url" href="/notes/9412">
            <time class="dt-published" datetime="2015-08-21T08:51:07Z">
              8:51am
            </time>
          </a>
        </p>
        <p class="meta">
          Also on
          <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634633858818904064">Twitter</a>
          <a rel="syndication" class="u-syndication" href="https://flickr.com/photos/adactio/20565959390">Flickr</a>
        </p>
      </footer>

    </article>

  </section><section><h1>August 20th, 2015</h1>
  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="http://brewster.kahle.org/2015/08/11/locking-the-web-open-a-call-for-a-distributed-web-2/">
          Locking the Web Open: A Call for a Distributed Web | Brewster Kahle&#8217;s Blog
        </a>
      </h2>

      <p>I like a lot of Brewster Kahle&#8217;s ideas here for a more distributed peer-to-peer architecture for the web, but I&#8217;m very wary of relying on JavaScript: I&#8217;d much prefer a simpler declarative format.</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9411">
          <time class="dt-published" datetime="2015-08-20T22:51:43Z">
            10:51pm
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/network">network</a>
        <a rel="tag" class="p-category" href="/links/tags/architecture">architecture</a>
        <a rel="tag" class="p-category" href="/links/tags/resilience">resilience</a>
        <a rel="tag" class="p-category" href="/links/tags/distributed">distributed</a>
        <a rel="tag" class="p-category" href="/links/tags/decentralisation">decentralisation</a>
      </p>
    </footer>

  </article>

  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="http://scripting.com/2015/07/30/howFuturesafeAreYourIdeas.html">
          How future-safe are your ideas?
        </a>
      </h2>

      <blockquote>
        <p>Will the Big Think piece you just posted to Medium be there in 2035? That may sound like it&#8217;s very far off in the future, and who could possibly care, but if there&#8217;s any value to your writing, you should care. Having good records is how knowledge builds.</p>
      </blockquote>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9410">
          <time class="dt-published" datetime="2015-08-20T22:49:49Z">
            10:49pm
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/writing">writing</a>
        <a rel="tag" class="p-category" href="/links/tags/publishing">publishing</a>
        <a rel="tag" class="p-category" href="/links/tags/independent">independent</a>
        <a rel="tag" class="p-category" href="/links/tags/digital">digital</a>
        <a rel="tag" class="p-category" href="/links/tags/preservation">preservation</a>
        <a rel="tag" class="p-category" href="/links/tags/indieweb">indieweb</a>
      </p>
    </footer>

  </article>

  <article class="h-entry">

    <figure class="p-name e-content">
      <a href="/notes/9409">
        <picture>
          <source media="all and (min-width: 65em)" srcset="/images/uploaded/9409/large.jpg" />
          <source media="all and (min-width: 27em)" srcset="/images/uploaded/9409/medium.jpg, /images/uploaded/9409/large.jpg 1.25x" />
          <img class="u-photo" src="/images/uploaded/9409/small.jpg" srcset="/images/uploaded/9409/medium.jpg 1.5x, /images/uploaded/9409/large.jpg 2.5x" alt="Listening to @rem at @asyncjs in @68middlest." />
        </picture>
      </a>
      <figcaption>
        <p>Listening to <a href="https://twitter.com/rem">@rem</a> at <a href="https://twitter.com/asyncjs">@asyncjs</a> in <a href="https://twitter.com/68middlest">@68middlest</a>.</p>

      </figcaption>
    </figure>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/notes/9409">
          <time class="dt-published" datetime="2015-08-20T20:29:48Z">
            8:29pm
          </time>
        </a>
      </p>
      <p class="meta">
        Also on
        <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634447287557693440">Twitter</a>
        <a rel="syndication" class="u-syndication" href="https://flickr.com/photos/adactio/20713959606">Flickr</a>
      </p>
    </footer>

  </article>

  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="http://www.lottejackson.com/blog/css-counter-property">
          CSS counter property By Charlotte Jackson
        </a>
      </h2>

      <p>This is nifty little piece of CSS for numbering nested lists. I don&#8217;t think I&#8217;ve come across the <code>counter</code> value or the <code>counter-reset</code> and <code>counter-increment</code> properties before (or if I did, I&#8217;ve completely forgotten about it).</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9408">
          <time class="dt-published" datetime="2015-08-20T16:03:03Z">
            4:03pm
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/css">css</a>
        <a rel="tag" class="p-category" href="/links/tags/frontend">frontend</a>
        <a rel="tag" class="p-category" href="/links/tags/development">development</a>
        <a rel="tag" class="p-category" href="/links/tags/lists">lists</a>
        <a rel="tag" class="p-category" href="/links/tags/counter">counter</a>
      </p>
    </footer>

  </article>

  <article class="h-entry">

    <h2>
      <a class="p-name u-url" href="/journal/9407">
        dConstruct 2015 podcast: Carla Diana
      </a>
    </h2>

    <div class="e-content">
      <p>The <a href="http://2015.dconstruct.org/podcast">dConstruct podcast</a> episodes are coming thick and fast. The latest episode is <a href="https://huffduffer.com/dConstruct/257984">a thoroughly enjoyable natter I had with the brilliant Carla Diana</a>.</p>

      <p><object type="application/x-shockwave-flash" data="https://huffduffer.com/flash/player.swf?soundFile=https://dconstruct.s3.amazonaws.com/2015/podcast/CarlaDiana.mp3" width="290" height="24"><param name="movie" value="https://huffduffer.com/flash/player.swf?soundFile=https://dconstruct.s3.amazonaws.com/2015/podcast/CarlaDiana.mp3" /><param name="wmode" value="transparent" /><audio src="https://dconstruct.s3.amazonaws.com/2015/podcast/CarlaDiana.mp3" controls preload="none"><a href="https://huffduffer.com/dConstruct/257984">dConstruct 2015: Carla Diana on Huffduffer</a></audio></object></p>

      <p>We talk about robots, smart objects, prototyping, 3D printing, and the world of teaching design.</p>

      <p>Remember, you can <a href="https://huffduffer.com/dConstruct/tags/dconstruct2015/rss">subscribe to the podcast feed</a> in any podcast software you like, or if iTunes is your thing, you can also <a href="https://itunes.apple.com/gb/podcast/dconstruct-dconstruct2015/id1028089148">subscribe directly in iTunes</a>.</p>

      <p>And don&#8217;t forget to <a href="https://ti.to/clearleft/dconstruct-2015/discount/ansible">use the discount code &#8216;ansible&#8217; when you&#8217;re buying your dConstruct ticket</a> &#8230;because you <em>are</em> coming to dConstruct, right?</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" href="/journal/9407">
          <time class="dt-published" datetime="2015-08-20T11:57:47Z">
            11:57am
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/journal/tags/dconstruct">dconstruct</a>
        <a rel="tag" class="p-category" href="/journal/tags/dconstruct2015">dconstruct2015</a>
        <a rel="tag" class="p-category" href="/journal/tags/podcast">podcast</a>
        <a rel="tag" class="p-category" href="/journal/tags/audio">audio</a>
        <a rel="tag" class="p-category" href="/journal/tags/robots">robots</a>
        <a rel="tag" class="p-category" href="/journal/tags/design">design</a>
        <a rel="tag" class="p-category" href="/journal/tags/3dprinting">3dprinting</a>
        <a rel="tag" class="p-category" href="/journal/tags/teaching">teaching</a>
      </p>
    </footer>

  </article>

  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="http://deep.design/the-hamburger-menu/">
          The Hamburger Menu Doesn&#8217;t Work - Deep Design
        </a>
      </h2>

      <p>Building on <a href="http://www.lukew.com/ff/entry.asp?1945">Luke&#8217;s research</a>, James outlines the problems with hiding navigation behind a hamburger icon. So, to be clear, the problem isn&#8217;t with the icon, so much as the way it is used as a cupboard to shovel all our messy navigation issues into.</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9406">
          <time class="dt-published" datetime="2015-08-20T11:39:51Z">
            11:39am
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/hamburger">hamburger</a>
        <a rel="tag" class="p-category" href="/links/tags/icon">icon</a>
        <a rel="tag" class="p-category" href="/links/tags/navigation">navigation</a>
        <a rel="tag" class="p-category" href="/links/tags/ui">ui</a>
        <a rel="tag" class="p-category" href="/links/tags/interface">interface</a>
        <a rel="tag" class="p-category" href="/links/tags/design">design</a>
        <a rel="tag" class="p-category" href="/links/tags/ux">ux</a>
        <a rel="tag" class="p-category" href="/links/tags/patterns">patterns</a>
      </p>
    </footer>

  </article>

  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="https://rachelandrew.co.uk/archives/2015/08/14/confidence-and-overwhelm/">
          Confidence and Overwhelm
        </a>
      </h2>

      <p>Following on from her <a href="https://huffduffer.com/adactio/256411">great conversation with Jen on The Web Ahead podcast</a>, Rachel outlines a strategy to avoid feeling overwhelmed by the deluge of tools, frameworks, libraries, and techniques inundating front-end developers every day:</p>

      <blockquote>
        <p>Learn your core skills well. Understand HTML and CSS, be able to build a layout without leaning on a framework. Get a solid understanding of how a website actually gets from the server to a browser, an understanding of security and accessibility. These are the basics, the constants. These things change slowly. These things sit underneath all the complexity and the tooling, the CMSs and the noise of thousands of people all trying to make their mark on this industry.</p>
      </blockquote>

      <p>She also makes this important point:</p>

      <blockquote>
        <p>As you are doing this don’t forget to share what you know.</p>
      </blockquote>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9405">
          <time class="dt-published" datetime="2015-08-20T11:33:39Z">
            11:33am
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/frontend">frontend</a>
        <a rel="tag" class="p-category" href="/links/tags/development">development</a>
        <a rel="tag" class="p-category" href="/links/tags/confidence">confidence</a>
        <a rel="tag" class="p-category" href="/links/tags/skills">skills</a>
        <a rel="tag" class="p-category" href="/links/tags/learning">learning</a>
        <a rel="tag" class="p-category" href="/links/tags/basics">basics</a>
        <a rel="tag" class="p-category" href="/links/tags/html">html</a>
        <a rel="tag" class="p-category" href="/links/tags/css">css</a>
        <a rel="tag" class="p-category" href="/links/tags/javascript">javascript</a>
        <a rel="tag" class="p-category" href="/links/tags/tools">tools</a>
        <a rel="tag" class="p-category" href="/links/tags/frameworks">frameworks</a>
        <a rel="tag" class="p-category" href="/links/tags/libraries">libraries</a>
      </p>
    </footer>

  </article>

</section><section><h1>August 19th, 2015</h1>
  <article class="h-entry">

    <div class="p-name e-content">
      <p>24 years ago today…</p>

      <p><a href="https://groups.google.com/forum/#!topic/comp.sys.next.announce/avWAjISncfw">https://groups.google.com/forum/#!topic/comp.sys.next.announce/avWAjISncfw</a></p>

      <p>Happy anniversary, <a href="https://twitter.com/TimBerners_Lee">@TimBerners_Lee</a>!</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/notes/9404">
          <time class="dt-published" datetime="2015-08-19T17:27:53Z">
            5:27pm
          </time>
        </a>
      </p>
      <p class="meta">
        Also on
        <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634039090694983680">Twitter</a>
      </p>
    </footer>

  </article>

  <article class="h-entry">

    <div class="p-name e-content">
      <p>Thinking it’s high time we had another Paper Camp. The first one was fun.</p>

      <p><a href="https://adactio.com/journal/1546">https://adactio.com/journal/1546</a></p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/notes/9403">
          <time class="dt-published" datetime="2015-08-19T15:52:54Z">
            3:52pm
          </time>
        </a>
      </p>
      <p class="meta">
        Also on
        <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/634015188992294912">Twitter</a>
      </p>
    </footer>

  </article>

  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="http://www.cameronsworld.net/">
          Cameron&#8217;s World
        </a>
      </h2>

      <p>A wonderful collection of treasures excavated from GeoCities. Explore, enjoy, and remember what a crime it is that Yahoo wiped out so much creativity and expression.</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9402">
          <time class="dt-published" datetime="2015-08-19T08:53:30Z">
            8:53am
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/geocities">geocities</a>
        <a rel="tag" class="p-category" href="/links/tags/fun">fun</a>
        <a rel="tag" class="p-category" href="/links/tags/web">web</a>
        <a rel="tag" class="p-category" href="/links/tags/history">history</a>
        <a rel="tag" class="p-category" href="/links/tags/expression">expression</a>
        <a rel="tag" class="p-category" href="/links/tags/creativity">creativity</a>
      </p>
    </footer>

  </article>

  <article class="h-entry">

    <div class="p-name e-content">
      <p>“What colour is teal?”</p>

      <p>“Like the duck.”</p>

      <p>“That’s green!”</p>

      <p>“No, a different duck.”</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/notes/9401">
          <time class="dt-published" datetime="2015-08-19T00:06:19Z">
            12:06am
          </time>
        </a>
      </p>
      <p class="meta">
        Also on
        <a rel="syndication" class="u-syndication" href="https://twitter.com/adactio/status/633776973836324864">Twitter</a>
      </p>
    </footer>

  </article>

</section><section><h1>August 18th, 2015</h1>
  <article class="xfolkentry h-entry">

    <div class="e-content">

      <h2>
        <a class="taggedlink p-name" href="https://boagworld.com/season/12/episode/1213/">
          Growing your business
        </a>
      </h2>

      <p>I enjoyed chatting with Marcus and Paul on the Boagworld podcast &#8230;mostly because I managed to avoid the topic at hand by discussing sci-fi for half an hour before we settled to the boring stuff about work, business, and all that guff.</p>

    </div>

    <footer>
      <p class="meta">
        <a rel="bookmark" class="u-url" href="/links/9400">
          <time class="dt-published" datetime="2015-08-18T23:43:38Z">
            11:43pm
          </time>
        </a>
      </p>
      <p class="meta">
        Tagged with
        <a rel="tag" class="p-category" href="/links/tags/boagworld">boagworld</a>
        <a rel="tag" class="p-category" href="/links/tags/podcast">podcast</a>
        <a rel="tag" class="p-category" href="/links/tags/sci-fi">sci-fi</a>
        <a rel="tag" class="p-category" href="/links/tags/sciencefiction">sciencefiction</a>
        <a rel="tag" class="p-category" href="/links/tags/business">business</a>
        <a rel="tag" class="p-category" href="/links/tags/clearleft">clearleft</a>
      </p>
    </footer>

  </article>

  <p><a rel="next" title="Next" href="?start=20">Older &raquo;</a></p>
</section>
</main>

<aside role="complementary">

  <h2>More information</h2>

  <!-- Begin the extra content -->

  <div class="box">

    <h3>About this site</h3>

    <address class="vcard h-card">
      <a href="https://adactio.com/" class="url u-url" rel="me">Adactio</a> is the online home of <a href="mailto:jeremy@adactio.com" class="email fn p-name u-email">Jeremy Keith</a>, a <span class="role p-role">web developer</span> and <span class="title p-job-title">author</span> living and working in <span class="adr p-adr"><span class="locality p-locality">Brighton</span>, <span class="country-name p-country-name">England</span></span>.
    </address>
    <p><a href="/contact/">Get in touch</a></p>
  </div>

  <div class="box">

    <h3>Customise</h3>

    <form method="get" action="/" id="skinselection">
      <p>
        <label for="skin">Choose a theme&hellip;</label><br />
        <select name="skin" id="skin">
          <option value="default" selected="selected">default</option>
          <option value="tatemodern">tatemodern</option>
          <option value="seaside">seaside</option>
          <option value="zeldman">zeldman</option>
          <option value="adactizilla">adactizilla</option>
          <option value="sci-fi">sci-fi</option>
          <option value="renaissance">renaissance</option>
          <option value="hirnlego">hirnlego</option>
        </select>
        <input type="submit" value="Go!" id="submitskin" />
        <a href="/about/site/" title="what is this?">?</a>
      </p>
    </form>
    <p>This is the plain vanilla look.</p>

  </div>

  <div class="box">

    <h3>Search</h3>

    <form action="/search/" method="get" role="search">
      <p>
        <label for="query">Find</label>
        <input accesskey="4" type="search" name="query" id="query" value="" />
        <button type="submit">Go!</button>
      </p>
      <p>
        <label for="section">Within</label>
        <select name="section" id="section">
          <option value="">adactio.com</option>
          <option value="Journal">journal</option>
          <option value="Links">links</option>
          <option value="Articles">articles</option>
          <option value="Notes">notes</option>
        </select>
      </p>
    </form>
  </div>
  <div class="box">

    <h3>Subscribe</h3>

    <p>I have some feeds that you can subscribe to in your <abbr title="Really Simple Syndication">RSS</abbr> reader:</p>

    <ul id="rsslinks">
      <li><a href="/journal/rss" type="application/rss+xml" title="Journal RSS">My journal</a></li>
      <li><a href="/links/rss" type="application/rss+xml" title="Links RSS">My links</a></li>
      <li><a href="/articles/rss" type="application/rss+xml" title="Articles RSS">My articles</a></li>
      <li><a href="/notes/rss" type="application/rss+xml" title="Notes RSS">My notes</a></li>
      <li><a href="/rss/" rel="alternate" type="application/rss+xml" title="Journal, links, articles and notes RSS">My journal, links, articles and notes together</a></li>
    </ul>

    <p>You can also follow these Twitter accounts:</p>

    <ul>
      <li><a href="https://twitter.com/adactio">notes</a></li>
      <li><a href="https://twitter.com/adactioJournal">journal</a></li>
      <li><a href="https://twitter.com/adactioLinks">links</a></li>
      <li><a href="https://twitter.com/adactioArticles">articles</a></li>
    </ul>

  </div>

  <div class="box">

    <h3>Elsewhere</h3>

    <p>You can find me scattered across these sites:</p>

    <ul>
      <li>Podcasting on <a rel="me" href="https://huffduffer.com/adactio" title="what I'm listening to">Huffduffer</a></li>
      <li>Updating <a rel="me" href="https://twitter.com/adactio" title="what I'm doing">Twitter</a></li>
      <li>Putting pictures on <a rel="me" href="https://www.flickr.com/people/adactio" title="photographs I've taken">Flickr</a></li>
      <li>Collecting on <a rel="me" href="http://adactio.tumblr.com/" title="quotes and videos">Tumblr</a></li>
      <li>Curating on <a rel="me" href="http://ffffound.com/home/adactio/found" title="images, collected">Ffffound</a></li>
      <li>Gathering at <a rel="me" href="http://readlists.com/user/adactio" title="articles, bundled">Readlists</a></li>
      <li>Speaking on <a rel="me" href="http://lanyrd.com/people/adactio" title="conferences, attended">Lanyrd</a></li>
      <li>Snapping to <a rel="me" href="https://instagram.com/adactio" title="phone photos">Instagram</a></li>
      <li>Coding on <a rel="me" href="https://github.com/adactio" title="code projects">Github</a></li>
      <li>Teasing on <a rel="me" href="https://dribbble.com/adactio" title="sneak peaks">Dribbble</a></li>
      <li>Broadcasting with <a rel="me" href="http://www.last.fm/user/adactio" title="my music">Last.fm</a></li>
      <li>Uploading to <a rel="me" href="http://vimeo.com/adactio" title="videos">Vimeo</a></li>
      <li>Drinking on <a rel="me" href="https://untappd.com/user/adactio" title="beer">Untappd</a></li>
    </ul>

  </div>

  <div class="box">

    <h3>Bedroll</h3>

    <p>I had the pleasure of welcoming these people into my home:</p>

    <ul>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.easy-reader.net/" rel="friend met colleague">Aaron Gustafson</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://rhiaro.co.uk/" rel="friend met colleague">Amy Guy</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://ben-ward.co.uk/" rel="friend met colleague">Ben Ward</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://bradfrost.com/" rel="friend met colleague">Brad Frost</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://suda.co.uk/" rel="friend met colleague">Brian Suda</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://themaninblue.com/" rel="friend met colleague">Cameron Adams</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://cindyli.com/" rel="friend met colleague">Cindy Li</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://boudist.com/" rel="friend met">Daniel Boud</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://deltatangobravo.com/" rel="friend met colleague">Daniel Burka</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://superfluousbanter.org/" rel="friend met colleague">Dan Rubin</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://mezzoblue.com/" rel="friend met colleague">Dave Shea</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://boxofchocolates.ca/" rel="friend met colleague">Derek Featherstone</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://schepers.cc/" rel="friend met colleague">Doug Schepers</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://drinkerthinker.com/" rel="friend met colleague">Elizabeth Galle</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://elsakawai.com/" rel="friend met colleague">Elsa Kawai</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://thatemil.com/" rel="friend met colleague">Emil Bj&ouml;rklund</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.erinjorichey.com/" rel="friend met colleague">Erin Jo Richey</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://unstoppablerobotninja.com/" rel="friend met colleague">Ethan Marcotte</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://fberriman.com/" rel="friend met colleague">Frances Berriman</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://blog.hannahdonovan.com/" rel="friend met colleague">Hannah Donovan</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.indiyoung.com/" rel="acquaintance met colleague">Indi Young</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.consolationchamps.com/" rel="friend met colleague">James McNally</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://jasonsantamaria.com/" rel="friend met colleague"><span class="p-given-name">Jason</span> <span class="p-family-name">Santa Maria</span></a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.blackphoebe.com/" rel="friend met colleague">Jenifer Hanen</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://jinabolton.com/" rel="friend met colleague">Jina Bolton</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://fawny.org/" rel="friend met colleague">Joe Clark</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://subism.com/" rel="friend met colleague">John Morrison</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://binarytales.co.uk" rel="friend met colleague">Jon Linklater-Johnson</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://scenariogirl.com/" rel="friend met colleague">Lisa Herrod</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.lyza.com/" rel="friend met colleague">Lyza Danger Gardner</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://aworkinglibrary.com/" rel="friend met colleague">Mandy Brown</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://marknormanfrancis.com/" rel="friend met colleague"><span class="p-given-name">Mark</span> <span class="additional-name">Norman</span> <span class="p-family-name">Francis</span></a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://themattharris.com/" rel="friend met colleague">Matt Harris</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://dracos.co.uk/" rel="friend met colleague">Matthew Somerville</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.marxandmarzipan.com/" rel="friend met colleague">Maxine Sherrin</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://molly.com/" rel="friend met colleague">Molly Holzschlag</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://notes.natbat.net/" rel="friend met colleague">Natalie Downe</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://sonspring.com/" rel="acquaintance met colleague">Nathan Smith</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://htmldog.com/" rel="friend met colleague">Patrick Griffiths</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://petragregorova.com/" rel="friend met colleague">Petra Gregorová</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://simonwillison.net/" rel="friend met colleague">Simon Willison</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://stephaniehobson.ca/" rel="friend met colleague">Stephanie Hobson</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://tantek.com/" rel="friend met colleague">Tantek &Ccedil;elik</a>
      </li>
      <li class="h-card">
        <a class="p-name u-url" href="http://www.pollenation.net/journal/tim" rel="acquaintance met colleague">Tim Parkin</a>
      </li>
    </ul>

  </div>

  <div class="box">

    <h3>Read my book</h3>

    <p><a href="http://html5forwebdesigners.com/" rel="me"><img src="/images/html5_cover_small.gif" alt="HTML5 for Web Designers" /></a></p>

  </div>

</aside>


<!-- The large print giveth and the small print taketh away -->

<footer role="contentinfo">
  <p>&copy; 1998 - 2015 <a href="mailto:jeremy@adactio.com">Jeremy Keith</a>.</p>
</footer>

<script src="/includes/javascript/global.js" defer="defer"></script>
<script src="/mint/?js"></script>
</body>
</html>