<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>


    Fray issue 3: Sex & Death


  </title>
  <meta name="description" content="Fray is the magazine of true stories and original art.">
  <meta name="author" content="Fray">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <link rel="stylesheet" href="/issue3/stylesheets/issue3.css?2012042716">

  <script src="/issue3/javascripts/libraries/modernizr-2.5.3.min.js"></script>
  <script src="/issue3/javascripts/libraries/respond-1.1.0.min.js"></script>

  <script src="http://use.typekit.com/gwj1rye.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <script src="/mint/?js"></script>
</head>

<body

  id="issue3"



  class="issue"

  >

<header role="banner" class="group">
  <a href="/" title="Home"><img class="logo" src="/issue3/images/fray_logo.svg" alt="Fray" width="60" height="27"></a>
  <p>
    <a href="/issue3/">


      Issue 3: <b>Sex & Death</b>


    </a>
  </p>




  <nav class="pager">
    <ul class="group">
      <li class="next">
        <a href="/issue3/introduction.html">
          <b>Intro</b>
          <span class="icon ir">→</span>
        </a>
      </li>
    </ul>
  </nav>

</header>

<div class="group" role="main">
  <div class="content group">
    <div role="document" class="group">
      <article class="group">
        <header>
          <h1>Sex & Death</h1>

          <p class="tagline">True Stories of Beginnings and Endings </p>
        </header>

        <p>Can you think of two subjects we spend more time thinking about, but discuss less? Sex motivates us in ways almost nothing else does – ask any teenage boy why he started playing the guitar. And death lurks in every conversation about age, health, or the future.</p>

        <p>Fray issue 3 takes on these two themes at once, with surprising results. You can read all the stories here, right now, for free. But if you like the stories on your screen, you'll love them in print. Some things just feel better in your hand.</p>
      </article>

      <sidebar class="group">
        <figure>
          <img class="cover" src="/issue3/images/issue3/cover.png" width="320" height="414">
        </figure>
        <form class="group" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="business" value="fraying@gmail.com">
          <input type="hidden" name="undefined_quantity" value="1">
          <input type="hidden" name="no_shipping" value="2">
          <input type="hidden" name="return" value="http://fray.com/subscribe/success.html">
          <input type="hidden" name="cancel_return" value="http://fray.com/subscribe/cancelled.html">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="bn" value="PP-BuyNowBF">
          <input type="hidden" name="item_name" value="The Toe-Dipper">
          <input type="hidden" name="item_number" value="1">
          <input type="hidden" name="amount" value="12.00">
          <input type="hidden" name="cn" value="So, hey, what's your story?">
          <input type="hidden" name="on0" value="Issue">
          <input type="hidden" name="os0" value="3: Sex & Death">
          <input class='button' type='submit' value="Buy in Print: $12">
          <small>+ Shipping. PayPal or Credit Card</small>
        </form>
      </sidebar>
    </div>

    <nav role="navigation">
      <ol id="stories">

        <li class="group">
          <a id="introduction" href="/issue3/introduction.html">
            <article>
              <header>
                <h1>Introduction</h1>


              </header>

              <p>

                By

                Derek Powazek, Illustration by Miguel Cervantes
              </p>

              <blockquote>
                <q>There’s something about each that inhabits the other. That’s why the French called orgasm <i>la petite mort</i>.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="sunglasses-man" href="/issue3/sunglasses-man.html">
            <article>
              <header>
                <h1>Sunglasses Man</h1>


              </header>

              <p>

                Story by

                Lindsay Champion, Illustration by Andrew Wilson
              </p>

              <blockquote>
                <q>It was clear at that moment that I had to remove them. Nothing irked me more than unnecessary accessories.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="sucks-to" href="/issue3/sucks-to-be-a-straight-guy.html">
            <article>
              <header>
                <h1>Sucks To Be a Straight Guy</h1>


                <h2>Dan Savage on Sex, Drugs, and Santorum</h2>

              </header>

              <p>

                Interview by

                Jesse Thorn, Illustration by Ramsey Sibaja
              </p>

              <blockquote>
                <q>I decided that I would make it my life’s mission to explain to them exactly where the clit was.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="braces" href="/issue3/braces.html">
            <article>
              <header>
                <h1>Braces</h1>


              </header>

              <p>

                Story by

                Daniel McDermott, Illustration by Chad Essley
              </p>

              <blockquote>
                <q>She will wake, and realize, and regret, and cry, and flee, and tell. And the police will come and take me away.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="seeds-of" href="/issue3/seeds-of-love.html">
            <article>
              <header>
                <h1>Seeds of Love</h1>


              </header>

              <p>

                Story by

                John Halcyon Styn, Illustration by Chris Bishop
              </p>

              <blockquote>
                <q>I needed something a little stronger than <i>Playboy</i>. I needed a naked, buxom nurse in the room, begging for my sample.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="five-rules" href="/issue3/five-rules-for-living.html">
            <article>
              <header>
                <h1>Five Rules for Living</h1>


              </header>

              <p>

                Story by

                J. Tarin Towers, Illustration by Adam Kidder
              </p>

              <blockquote>
                <q>I had to stifle not only a moan, but dueling expressions of surprise, ecstasy, fear, and guilt.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="the-letters" href="/issue3/the-letters-project.html">
            <article>
              <header>
                <h1>The Letters Project</h1>


                <h2>Voices from Both Sides of the World’s Oldest Profession</h2>

              </header>

              <p>

                By

                Susannah Breslin, Illustrations by Jim Unwin
              </p>

              <blockquote>
                <q>This is not the behavior of deviants and perverts — it’s the behavior of people reaching out for affection.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="of-silence" href="/issue3/of-silence-and-oranges.html">
            <article>
              <header>
                <h1>Of Silence and Oranges</h1>


              </header>

              <p>

                Story by

                William Hastings, Illustration by Ray Frenden
              </p>

              <blockquote>
                <q>I didn’t know she fucked for a living until I saw her get out of a cab after which the driver paid her.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="fucking-death" href="/issue3/fucking-death.html">
            <article>
              <header>
                <h1>Fucking Death</h1>


              </header>

              <p>

                Story by

                Derek Powazek, Illustration by Ana Benaroya
              </p>

              <blockquote>
                <q>I’m starting to feel like we’re just emotional tourists on the historical atrocities circuit.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="dead-sexy" href="/issue3/dead-sexy.html">
            <article>
              <header>
                <h1>Dead Sexy</h1>


              </header>

              <p>

                By

                Jennifer Daniel
              </p>

              <blockquote>
                <q>Over 600 ladies have graced the centerfold of <i>Playboy</i>. Since the 1950s, three dozen have died. This is their last centerfold.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="the-opened" href="/issue3/the-opened-hand.html">
            <article>
              <header>
                <h1>The Opened Hand</h1>


              </header>

              <p>

                Story by

                Ed Wolf, Illustration by Jim Unwin
              </p>

              <blockquote>
                <q>I know that the virus is there, the creature that is killing Jason and is now itself dying on my skin.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="a-day" href="/issue3/a-day-in-the-life-of-a-killer.html">
            <article>
              <header>
                <h1>A Day in the Life of a Killer</h1>


              </header>

              <p>

                Story by

                Xep Levy, Illustration by Paul O’Sullivan
              </p>

              <blockquote>
                <q>I have a syringe in my hand. It contains 15 milliliters of sodium pentobarbital. It is the exact amount it would take to kill me.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="orphans" href="/issue3/orphans.html">
            <article>
              <header>
                <h1>Orphans</h1>


              </header>

              <p>

                Story by

                Steve Silberman
              </p>

              <blockquote>
                <q>We were fighting a revolution in Greenville Hospital to free my father from the tyranny of being trapped in his body.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="coffin-cornered" href="/issue3/coffin-cornered.html">
            <article>
              <header>
                <h1>Coffin Cornered</h1>


              </header>

              <p>

                Story by

                Jack Boulware, Illustration by Rex Crowle
              </p>

              <blockquote>
                <q>Various corner designs can reflect the hobby of the deceased, as long as your hobbies are hunting, fishing, or waving the flag.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="a-death" href="/issue3/a-death-of-coincidence.html">
            <article>
              <header>
                <h1>A Death of Coincidence</h1>


              </header>

              <p>

                Story by

                Eric Meyer, Illustrations by Brooke Nuñez Fetissoff
              </p>

              <blockquote>
                <q>The words sound small and inadequate, but our language has yet to find something meaningful to say in the face of mortality.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="what-we" href="/issue3/what-we-talk-about-when-were-trying-not-to-talk-about-death.html">
            <article>
              <header>
                <h1>What We Talk About When We’re Trying Not To Talk About Death</h1>


              </header>

              <p>

                Story by

                Eric Spitznagel, Illustration by Stefan Grambart
              </p>

              <blockquote>
                <q>There is never a convenient time to find out there’s a softball-sized tumor claiming squatter’s rights on your brain.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="diary-of" href="/issue3/diary-of-the-dead.html">
            <article>
              <header>
                <h1>Diary of the Dead</h1>


              </header>

              <p>

                Story by

                Carolyn Sortor, Illustration by Mal Jones
              </p>

              <blockquote>
                <q>To the extent I have been able to reconstruct events, I know the following failures occurred, in approximately this order.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="once-around" href="/issue3/once-around-the-corpse.html">
            <article>
              <header>
                <h1>Once Around the Corpse</h1>


              </header>

              <p>

                Story by

                Jarret Liotta, Illustration by Andrew Fulton
              </p>

              <blockquote>
                <q>By the time we were through the colon, I felt very much at home.</q>
              </blockquote>
            </article>
          </a>
        </li>

        <li class="group">
          <a id="nest" href="/issue3/nest.html">
            <article>
              <header>
                <h1>Nest</h1>


              </header>

              <p>

                Story by

                Emily Morris, Illustration by Claire Robertson
              </p>

              <blockquote>
                <q>The time between her breaths is longer, and sometimes you hold your own breath waiting for the next one.</q>
              </blockquote>
            </article>
          </a>
        </li>

      </ol>
    </nav>

    <footer id="credits" class="group">
      <section id="staff" class="group">
        <h3>Staff</h3>

        <dl>
          <dt><a href="http://powazek.com/">Derek Powazek</a></dt>
          <dd>Frayer-in-Chief</dd>

          <dt><a href="http://foolsparadise.org/">Magdalen Powers</a></dt>
          <dd>Managing Editor</dd>

          <dt><a href="http://chrisbishop.com/">Chris Bishop</a></dt>
          <dd>Illustration Editor</dd>
        </dl>

        <dl>
          <dt><a href="http://hchamp.com/">Heather Champ</a></dt>
          <dd>Fulfillment</dd>

          <dt><a href="http://sitekreator.com/franx/">Frank Barbara</a></dt>
          <dd>Cover Illustrator</dd>

          <dt><a href="http://everycopy.com/">James Goode</a></dt>
          <dd>Web Design</dd>
        </dl>
      </section>

      <section id="contributors">
        <h3>Contributors</h3>

        <p>
          <a href="http://adamkidder.com/">Adam Kidder</a>,
          <a href="http://anabenaroya.com/">Ana Benaroya</a>,
          <a href="http://mumblier.com/">Andrew Fulton</a>,
          <a href="http://andrewandavid.blogspot.com/">Andrew Wilson</a>,
          <a href="http://lifeinvector.com/">Brooke Nuñez Fetissoff</a>,
          <a href="http://c-cyte.com/">Carolyn Sortor</a>,
          <a href="http://cartoonmonkey.com/">Chad Essley</a>,
          <a href="http://loobylu.com/">Claire Roberston</a>,
          Daniel McDermott,
          <a href="http://www.poprelics.com/">Derek Chatwood</a>,
          <a href="http://borderlineamazing.com/">Devin McGrath</a>,
          Ed Wolf,
          <a href="http://emorobo.com/">Edward Chow</a>,
          <a href="http://prettycrabby.com/">Emily Morris</a>,
          <a href="http://meyerweb.com/">Eric Meyer</a>,
          <a href="http://vonnegutsasshole.blogspot.com/">Eric Spitznagel</a>,
          <a href="http://sitekreator.com/franx/">Frank Barbara</a>,
          <a href="http://goopymart.com/">Goopymart</a>,
          J. Tarin Towers,
          <a href="http://www.jackboulware.com/">Jack Boulware</a>,
          <a href="http://jarretliotta.blogspot.com/">Jarret Liotta</a>,
          <a href="http://httpcolonforwardslashforwardslashwwwdotjenniferdanieldotcom.com/">Jennifer Daniel</a>,
          <a href="http://maximumfun.org/">Jesse Thorn</a>,
          <a href="http://jimunwin.com/">Jim Unwin</a>,
          <a href="http://lifestudent.com/">John Halcyon Styn</a>,
          <a href="http://lindsaychampion.blogspot.com/">Lindsay Champion</a>,
          <a href="http://www.maljones.com/">Mal Jones</a>,
          <a href="http://keeptrucha.tumblr.com/">Miguel Cervantes</a>,
          <a href="http://drout750.com/">Paul O’Sullivan</a>,
          <a href="http://razcitystudios.com/">Ramsey Sibaja</a>,
          <a href="http://frenden.com/">Ray Frenden</a>,
          <a href="http://rexbox.co.uk/">Rex Crowle</a>,
          <a href="http://stefangrambart.ca/">Stefan Grambart</a>,
          <a href="http://stevesilberman.com/">Steve Silberman</a>,
          <a href="http://susannahbreslin.blogspot.com/">Susannah Breslin</a>,
          William Hastings,
          <a href="http://whatikilledtoday.blogspot.com/">Xep Levy</a>.
        </p>
      </section>
    </footer>
  </div>


</div>

<footer role="contentinfo">
  <div class="content group">
    <p id="about">Fray is the web’s original storytelling magazine, telling true stories online and off since 1996.</p>

    <div id="history" class="group">
      <p><b>Fray began</b> as a website. We presented individually designed, true first-person stories. Each one ended with a question that prompted the audience to tell their stories, too. <a href="http://fray.com/index-old.shtml">You can see an archive here.</a></p>

      <p><b>Then it evolved</b> into a series of live storytelling events, Fray Days and Fray Cafés, that took place all over the world, attended by thousands of people. <a href="http://fray.com/events/photos/">See photos</a> and <a href="http://fray.com/events/audio/">listen to audio</a> of the events.</p>

      <p><b>And now</b> Fray has evolved again — this time into a series of independently produced books. Each issue is focused on a central storytelling theme, including personal stories, articles, and original art.</p>
    </div>

    <section id="catalog" class="group">
      <h3>Our Catalog</h3>

      <figure class="issue1 group">
        <a class="cover" href="/issue1/"><img src="/issue3/images/issue1/cover_thumb.jpg"></a>

        <figcaption>
          <a href="/issue1/">Issue 1: <b>Busted!</b></a>
          <br>
          True Stories of Getting Caught in the Act
          <br>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="fraying@gmail.com">
            <input type="hidden" name="undefined_quantity" value="1">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="return" value="http://fray.com/subscribe/success.html">
            <input type="hidden" name="cancel_return" value="http://fray.com/subscribe/cancelled.html">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-BuyNowBF">
            <input type="hidden" name="item_name" value="The Toe-Dipper">
            <input type="hidden" name="item_number" value="1">
            <input type="hidden" name="amount" value="12.00">
            <input type="hidden" name="cn" value="So, hey, what's your story?">
            <input type="hidden" name="on0" value="Issue">
            <input type="hidden" name="os0" value="1: Busted!">
            <input class='button' type='submit' value="Buy: $12">
          </form>
        </figcaption>
      </figure>

      <figure class="issue2 group">
        <a class="cover" href="/issue2/"><img src="/issue3/images/issue2/cover_thumb.png"></a>

        <figcaption>
          <a href="/issue2/">Issue 2: <b>Geek</b></a>
          <br>
          True Stories of People Taking Things Too Seriously
          <br>
          <a class="button" href="http://www.magcloud.com/browse/issue/4036">Buy: $12</a>
        </figcaption>
      </figure>

      <figure class="special1 group">
        <a class="cover" href="http://www.magcloud.com/browse/issue/1831"><img src="/issue3/images/special1/cover_thumb.png"></a>

        <figcaption>
          <a href="http://www.magcloud.com/browse/issue/1831">Special Issue: <b>Wild Life</b></a>
          <br>
          Stories of the Animals We Love
          <br>
          <a class="button" href="http://www.magcloud.com/browse/issue/1831">Buy: $6</a>
        </figcaption>
      </figure>

      <figure class="issue3 group">
        <a class="cover" href="/issue3/"><img src="/issue3/images/issue3/cover_thumb.png"></a>

        <figcaption>
          <a href="/issue3/">Issue 3: <b>Sex & Death</b></a>
          <br>
          True Stories of Beginnings and Endings
          <br>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="fraying@gmail.com">
            <input type="hidden" name="undefined_quantity" value="1">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="return" value="http://fray.com/subscribe/success.html">
            <input type="hidden" name="cancel_return" value="http://fray.com/subscribe/cancelled.html">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-BuyNowBF">
            <input type="hidden" name="item_name" value="The Toe-Dipper">
            <input type="hidden" name="item_number" value="1">
            <input type="hidden" name="amount" value="12.00">
            <input type="hidden" name="cn" value="So, hey, what's your story?">
            <input type="hidden" name="on0" value="Issue">
            <input type="hidden" name="os0" value="3: Sex & Death">
            <input class='button' type='submit' value="Buy: $12">
          </form>
        </figcaption>
      </figure>
    </section>

    <form id="mailing-list" action="http://groups.google.com/group/fray/boxsubscribe">
      <p>
        <a href="http://groups.google.com/group/fray">Join the Fray List</a> to receive special love notes:
      </p>

      <input name="email" type="text">

      <input class="button" name="sub" type="submit" value="Sign Up">
    </form>

    <p id="disclaimer">
      <b>Contributors retain the copyright to their contributions.</b> The rest is Copyright © Fray 2008–2012.
      <br>
      Please do not repost our stuff elsewhere. Instead, copy a bit and link to the rest. <i>Thanks!</i>
    </p>

    <p id="hosting"><a href="http://www.mediatemple.net/go/order/?refdom=fray.com">Expertly hosted by <span><img class="logo" src="/issue3/images/mt_logo.svg" alt="(mt)" width="60" height="24"></span> Media Temple</a></p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/issue3/javascripts/libraries/jquery-1.7.1.min.js"><\/script>')</script>
<script src="/issue3/javascripts/scripts.js?2012042716"></script>
</body>
</html>