<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US">
<head profile="http://gmpg.org/xfn/1">
  <title>meyerweb.com</title>
  <link rel="openid.server" href="https://indieauth.com/openid" />
  <link rel="openid.delegate" href="http://meyerweb.com" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="home" href="http://meyerweb.com/" title="Home" >
  <link rel="stylesheet" href="/ui/meyerweb.css" type="text/css">
  <link rel="stylesheet" href="/ui/theme.php" type="text/css" media="screen, projection" id="themeLink">
  <script src="/ui/addresses.js" type="text/javascript"></script>
  <meta name="google-site-verification" content="I_JFi4WrY6bW7AE2ya5sSlruVvgvrIeRa1IsqO0GB78" />
  <link rel="stylesheet" href="/ui/wordpress.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/ui/tfe.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/ui/home.css" type="text/css" media="screen">
  <link rel="alternate" type="application/rss+xml" title="Thoughts From Eric" href="/eric/thoughts/rss2/full" />
  <link rel="alternate" type="application/rss+xml" title="Thoughts From Eric (only technical posts)" href="/eric/thoughts/category/tech/rss2/full" />
  <link rel="alternate" type="application/rss+xml" title="Thoughts From Eric (only personal posts)" href="/eric/thoughts/category/personal/rss2/full" />
  <link rel="alternate" type="application/rss+xml" title="Distractions" href="/eric/thoughts/recent-links/rss2" />
  <link rel="alternate" type="application/rss+xml" title="Excuse of the Day" href="/feeds/excuse/rss20.xml" />
</head>
<body id="www-meyerweb-com" class="hpg">

<div id="sitemast">
  <h1><a href="/"><span>meyerweb</span>.com</a></h1>
</div>

<div id="search">
  <h4>Exploration</h4>
  <!-- SiteSearch Google -->
  <form method="get" action="http://www.google.com/custom" target="_top">
    <div>
      <input type="hidden" name="domains" value="meyerweb.com"></input>

      <label for="sbb" style="display: none">Submit search form</label>
      <input type="submit" name="sa" value="Google Search" id="sbb"></input>

      <label for="sbi" style="display: none">Enter your search terms</label>
      <input type="text" name="q" size="31" maxlength="255" value="" id="sbi"></input>
      <p>
        <input type="radio" name="sitesearch" value="meyerweb.com" checked id="ss1"></input>
        <label for="ss1" title="Search meyerweb.com">meyerweb.com</label>

        <input type="radio" name="sitesearch" value="" id="ss0"></input>
        <label for="ss0" title="Search the Web">Web</label>
      </p>
      <input type="hidden" name="client" value="pub-3772084027748653"></input>
      <input type="hidden" name="forid" value="1"></input>
      <input type="hidden" name="ie" value="ISO-8859-1"></input>
      <input type="hidden" name="oe" value="ISO-8859-1"></input>
      <input type="hidden" name="safe" value="active"></input>
      <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1"></input>
      <input type="hidden" name="hl" value="en"></input>
    </div>
  </form>
  <!-- SiteSearch Google -->

  <!--
  <form method="get" action="http://www.google.com/custom">
  <div>
  <input type="submit" name="sa" value="Search">
  <input type="text" name="q" size="20" maxlength="255" value="">
  <input type="hidden" name="sitesearch" value="meyerweb.com">
  </div>
  </form>
  <small><a href="http://www.google.com/search">Powered by Google</a></small>
   -->
</div>

<div id="main">
  <div class="skipper">Skip to: <a href="#extra">site navigation/presentation</a></div>
  <div class="skipper">Skip to: <a href="#thoughts">Thoughts From Eric</a></div>
  <div id="thoughts">


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/08/19/dislike/" rel="bookmark" title="Permanent Link: Dislike">Dislike</a></h3>
      <ul class="meta">
        <li class="date">Wed 19 Aug 2015</li>
        <li class="time">1507</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/commentary/" rel="category tag">Commentary</a><br><a href="http://meyerweb.com/eric/thoughts/category/personal/culture/" rel="category tag">Culture</a><br><a href="http://meyerweb.com/eric/thoughts/category/tech/web/" rel="category tag">Web</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/08/19/dislike/#comments">Four responses</a></li>
      </ul>

      <div class="text">
        <p>Facebook is emotionally smarter than we give it credit for, though perhaps not as algorithmically smart as it could be.</p>

        <p>I’ve been pondering this for a few weeks now, and Zeynep Tufekci’s “<a href="https://medium.com/message/how-facebook-s-tyranny-of-the-like-and-engagement-can-be-an-obstacle-to-an-open-and-connected-dddc03a0d39b">Facebook and the Tyranny of the ‘Like’ in a Difficult World</a>” prodded me to consolidate my thoughts.</p>

        <p>(Note: This is not about what Tufekci writes about, exactly, and is <em>not</em> meant as a rebuttal to her argument.  I agree with her that post-ranking algorithms need to be smarter.  I also believe there are design solutions needed to compensate for the unthinking nature of those algorithms, but that’s a topic for another time.)</p>

        <p>Tufekci’s piece perfectly describes the asymmetrical nature of Facebook’s “engagement” mechanisms, commented on for years: there is no negative mirror for the “Like” button.  As she says:</p>

        <blockquote>
          <p>Of course he cannot like it. Nobody can. How could anyone like such an awful video?</p>
          <p>What happens then to the video? Not much. It will mostly get ignored, because my social network has no way to signal to the algorithm that this is something they care about.</p>
        </blockquote>

        <p>What I’ve been thinking of late is that the people in her network can comment as a way to signal their interest, caring, engagement, whatever you want to call it.  When “Like” doesn’t fit, comments are all that’s left, and I think that’s appropriate.</p>

        <p>In a situation like Tufekci describes, or any post that deals with the difficult side of life, comments are exactly what’s called for.  Imagine if there were a “Dislike” button.  How many would just click it without commenting?  Before you answer that question, consider: how many click “Like” without commenting?  How many more would use “Dislike” as a way to avoid dealing with the situation at hand?</p>

        <p>When someone posts something difficult—about themselves, or someone they care about, or the state of the world—they are most likely seeking the support of their community.  They’re asking to be heard.  Comments fill that need.  In an era of Likes and Faves and Stars and Hearts, a comment (usually) shows at least some measure of thought and consideration.  It shows that the poster has been heard.</p>

        <p>Many of those posts can be hard to respond to.  I know, because many of the Facebook posts my wife and I were making two years (and one year) ago right now were doubtless incredibly hard to read.  I remember many people leaving comments along the lines of, “I don’t know what to say, but I’m thinking of you all.”  And even that probably felt awkward and insufficient to those who left such comments.  Crisis and grief and fear in others can make us very uncomfortable.  Pushing past that discomfort to say a few words is a huge show of support.  It matters.</p>

        <p>Adding “Dislike” would be a step backward, in terms of emotional intelligence.  It could too easily rob people who post about the difficult parts of life of something they clearly seek.</p>
      </div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/07/30/medium-trials/" rel="bookmark" title="Permanent Link: Medium Trials">Medium Trials</a></h3>
      <ul class="meta">
        <li class="date">Thu 30 Jul 2015</li>
        <li class="time">1047</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/commentary/" rel="category tag">Commentary</a><br><a href="http://meyerweb.com/eric/thoughts/category/tech/" rel="category tag">Tech</a><br><a href="http://meyerweb.com/eric/thoughts/category/personal/writing/" rel="category tag">Writing</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/07/30/medium-trials/#comments">Three responses</a></li>
      </ul>

      <div class="text">
        <p><em>Originally published <a href="https://medium.com/@meyerweb/medium-trials-30cb485a92e7">at Medium</a> on July 30th, 2015.</em></p>

        <p>Yesterday, I decided to try importing a story to Medium. I’d hunted around for a way to auto-post to Medium from WordPress, which runs the blog portion of meyerweb (the rest is mostly HTML, with a little PHP here and there), and hadn’t found one. Then I found the “Import story” feature on Medium and thought, Sure, why not?</p>

        <p>So I tried it out on my most recent post, which also happened to have some code in it, as my posts sometimes do. The process was, as anyone who’s used it can tell you, very simple. Paste in a URL and the content gets sucked in.</p>

        <p>Well, except for code blocks.</p>

        <figure class="standalone">
          <img src="http://meyerweb.com/pix/2015/medium-code.png"/>
          <figcaption><p>Everything was imported without incident except the Javascript. That seems like a metaphor for something.</p></figcaption>
        </figure>

        <p>I’d structured the block with a <code>pre</code> element, as I always do, and yet the line-breaking was stripped away. It looks like my indentation tabs were preserved, but without the linefeeds, they didn’t have nearly the same utility.</p>

        <p>The real problem is that the importation of the code block stopped cold at the first <code>&lt;</code>, dropping the rest of the code on the floor. Now, I admit, I didn’t escape or entity-ize the character in my source, and maybe that was the problem. Still, I feel like an import tool should be a little smarter about things like less-than symbols on import. Otherwise, how many less-than-threes will end up as just plain threes?</p>

        <p>Fortunately, the fix was simple: I went back to the original post, drag-selected the whole code block, copied, went back to Medium, drag-selected the mangled code, and hit ⌘V. Done. It was properly formatted and no less-than terminations occurred.</p>

        <p>Today, I’m experimenting with writing my post on Medium first, after which I’ll repost it at meyerweb. This is likely the only time I’ll do it in that order, given my experience over here. Captions are deucedly hard to edit (at least in my browser of choice, Firefox Nightly), the apparent inability to add simple decorations like border to images, and the apparently intentional, active enforcement of single-space-after-sentence even when editing annoy me deeply. (Yes, that’s how I roll. Let’s not have the spacing argument here, please.)</p>

        <p>I can see why Medium appeals to so many. It’s pretty frictionless, a lot more so than almost any other tool of its kind I’ve used. I mean, my WordPress install is pretty frictionless to me, but that’s because I invested a lot of time customizing it to be that way. Much like my browser, mail client, and other essential tools.</p>

        <p>So anyway, that’s what I found during import and authoring on Medium. Here’s hoping this posts properly, and without the stray “in” that’s somehow shown up in my post, and which I can’t select, mouse to delete or otherwise remove through non-Inspector means. If only I could prepend an “f”!</p>


        <figure class="standalone">
          <img src="http://meyerweb.com/pix/2015/medium-in.png"/>
          <figcaption><p></p><p>It didn’t show up when I posted, fortunately.</p></figcaption>
        </figure>

        <figure class="standalone">
          <img src="http://meyerweb.com/pix/2015/medium-title.png"/>
          <figcaption><p>P.S. I discovered this was the title just before publishing. It was supposed to be just “Medium”. ¯\_(ツ)_/¯</p></figcaption>
        </figure>

      </div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/07/07/undoing-oncutoncopyonpaste-falsities/" rel="bookmark" title="Permanent Link: Undoing oncut/oncopy/onpaste Falsities">Undoing oncut/oncopy/onpaste Falsities</a></h3>
      <ul class="meta">
        <li class="date">Tue 7 Jul 2015</li>
        <li class="time">2213</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/tech/browsers/" rel="category tag">Browsers</a><br><a href="http://meyerweb.com/eric/thoughts/category/tech/dom/" rel="category tag">DOM</a><br><a href="http://meyerweb.com/eric/thoughts/category/tech/web/" rel="category tag">Web</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/07/07/undoing-oncutoncopyonpaste-falsities/#comments">Four responses</a></li>
      </ul>

      <div class="text">
        <p>Inspired by <a href="https://twitter.com/atxryan/status/618510122000580608">Ryan Joy’s excellent and deservedly popular tweet</a>, I wrote a small, not-terribly-smart Javascript function to undo cut/copy/paste blocking in HTML.</p>

<pre><code>function fixCCP() {
  var elems = document.getElementsByTagName('*');
  var attrs = ['onpaste','oncopy','oncut'];
  for (i = 0; i < elems.length; i++) {
  for (j = 0; j < attrs.length; j++) {
  if (elems[i].getAttribute(attrs[j])) {
  elems[i].setAttribute(attrs[j],elems[i]
  .getAttribute(attrs[j])
  .replace("return false","return true"));
  }
  }
  }
  }
</code></code></pre>

        <p>Here it is as a bookmarklet, if you still roll that way (as I do):
          <a href="javascript:void%20function(){var%20elems=document.getElementsByTagName(%22*%22),attrs=[%22onpaste%22,%22oncopy%22,%22oncut%22];for(i=0;i%3Celems.length;i++)for(j=0;j%3Cattrs.length;j++)elems[i].getAttribute(attrs[j])%26%26elems[i].setAttribute(attrs[j],elems[i].getAttribute(attrs[j]).replace(%22return%20false%22,%22return%20true%22))}();"><strong>fixCCP</strong></a>.  Thanks to <a href="http://bookmarklets.org/maker/">the Bookmarklet Maker</a> at bookmarklets.org for helping me out with that!</p>

        <p>
          If there are obvious improvements to be made to its functionality, let me know and I’ll throw it up on Github.
        </p>
      </div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/06/26/gradient-flags/" rel="bookmark" title="Permanent Link: Gradient Flags">Gradient Flags</a></h3>
      <ul class="meta">
        <li class="date">Fri 26 Jun 2015</li>
        <li class="time">1628</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/tech/css/" rel="category tag">CSS</a><br><a href="http://meyerweb.com/eric/thoughts/category/guide/" rel="category tag">Guide</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/06/26/gradient-flags/#comments">Five responses</a></li>
      </ul>

      <div class="text">
        <p>With the news today of the Supreme Court’s decision in <cite>Obergefell v. Hodges</cite>, and my recent completion of <a href="http://shop.oreilly.com/product/0636920040859.do">the part of <cite>CSS:The Definitive Guide</cite> that deals with gradients</a>, I thought I’d create a couple of flags using linear gradients.</p>

        <p>First, I’ll define the basic box of the flags.  The dimensions are the same as those specified for the U.S. flag, 1:1.9.  I added a couple of box shadows for visual constrast with the background.</p>

<pre>
div {height: 10em; width: 19em; margin: 3em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.25),
        0.4em 0.6em 0.5em rgba(0,0,0,0.25);}
</pre>

        <div style="height: 10em; width: 19em; margin: 3em; box-shadow: 0 0 0.5em rgba(0,0,0,0.25), 0.4em 0.6em 0.5em rgba(0,0,0,0.25);"></div>

        <p>Okay, with that set, first up is what’s often called <a href="https://en.wikipedia.org/wiki/Rainbow_flag_%28LGBT_movement%29">the pride flag</a>, which is to say the “rainbow flag”.  There’s <a href="https://en.wikipedia.org/wiki/Rainbow_flag_%28LGBT_movement%29#History">an interesting history to the design of the flag</a>, but I’m going to stick with “the six-color version popular since 1973”, as Wikipedia puts it.</p>

        <p>For such a flag, we just need color stripes with hard stops between them.  That means putting the color stops right up against each other, like so:</p>

<pre>
div#rainbow {
    background: linear-gradient(180deg,
        red 0%, red 16.7%,
        orange 16.7%, orange 33.3%,
        yellow 33.3%, yellow 50%,
        green 50%, green 66.7%,
        blue 66.7%, blue 83.3%,
        purple 83.3%, purple 100%);
}
</pre>

        <div style="height: 10em; width: 19em; margin: 3em; box-shadow: 0 0 0.5em rgba(0,0,0,0.25), 0.4em 0.6em 0.5em rgba(0,0,0,0.25); background: linear-gradient(180deg, red 0%, red 16.7%, orange 16.7%, orange 33.3%, yellow 33.3%, yellow 50%, green 50%, green 66.7%, blue 66.7%, blue 83.3%, purple 83.3%, purple 100%);"></div>

        <p>The first <code>red 0%</code> isn’t really necessary, nor is the last <code>purple 100%</code>, but I left them in for the sake of consistency.  You could remove them both in order to make the CSS a little smaller, and still get the same result.  I decided to go from red to purple, as the spectrum is usually described, which meant having the gradient ray point from top to bottom.  Thus <code>180deg</code>, although <code>to bottom</code> would be completely equal in this case.</p>

        <p>Now for <a href="https://en.wikipedia.org/wiki/Flag_of_the_United_States">the US flag</a>.  In this case, things get a little more interesting.  I’ll note right up front that I’m not going to put in any stars, in order to keep this simple and gradient-focused, and yet it’s still interesting.  We could use a repeating linear gradient, like so:</p>

<pre>
repeating-linear-gradient(180deg,
    #B22234, #B22234 0.77em, white 0.77em, white 1.54em)
</pre>

        <p>That would then cause each red-white pair of stripes to repeat vertically forever.  Because the specified stripes are manually calculated to be 1/13th of the height of the overall flag (<code>10em</code>), they’ll just fit like they should.</p>

        <p>The problem there is that if the overall flag size ever changes, like if the height and weight are converted to pixels, the stripes will get out of sync with the dimensions of the flag.  Fortunately, we don’t have to rely on ems here; we can use percentages.  Thus:</p>

<pre>
repeating-linear-gradient(180deg,
    #B22234, #B22234 7.7%, white 7.7%, white 15.4%)
</pre>

        <div style="height: 10em; width: 19em; margin: 3em; box-shadow: 0 0 0.5em rgba(0,0,0,0.25), 0.4em 0.6em 0.5em rgba(0,0,0,0.25); background-image: repeating-linear-gradient(180deg, #B22234, #B22234 7.7%, white 7.7%, white 15.4%);"></div>

        <p>Ta-da!  The stripes are the right sizes, and scale with any changes to the height and width of the flag, and repeat as required.</p>

        <p>That’s all well and good, but we still need the blue canton (as it’s called).  Since the canton will be on top of the stripes, it actually needs to come first in the comma-separated value list for <code>background-image</code>.  That gives us:</p>

<pre>
background-image:
    linear-gradient(0deg, #3C3B6E, #3C3B6E),
    repeating-linear-gradient(180deg,
        #B22234, #B22234 7.7%, white 7.7%, white 15.4%);

</pre>

        <p>Wait.  A blue-to-blue gradient?  Well, yes.  I want a consistent blue field, and one way to create that is a gradient that doesn’t actually grade.  It’s a quick way to create a solid-color image that can be sized and positioned however we like.</p>

        <p>So, now we size and position the canton.  According to <a href="https://en.wikipedia.org/wiki/Flag_of_the_United_States#Specifications">the official design specifications</a> for the flag, the canton is the height of seven stripes, or 53.85% the height of the overall flag, and 40% the width of the flag.  That means a <code>background-size</code> of <code>40% 53.85%</code>.  The stripes we then have to size at <code>100% 100%</code>, in order to make sure they cover the entire background area of the flag.  Finally, we position the canton in the top left; the stripes we can position anywhere along the top. so we’ll leave them <code>top left</code> as well.</p>

        <p>The final result:</p>

<pre>
div#usa {
    background-image:
        linear-gradient(0deg, #3C3B6E, #3C3B6E),
        repeating-linear-gradient(180deg,
            #B22234, #B22234 7.7%, white 7.7%, white 15.4%);
    background-size: 40% 53.85%, 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
</pre>

        <div style="height: 10em; width: 19em; margin: 3em; box-shadow: 0 0 0.5em rgba(0,0,0,0.25), 0.4em 0.6em 0.5em rgba(0,0,0,0.25); background-image: linear-gradient(0deg, #3C3B6E, #3C3B6E), repeating-linear-gradient(180deg, #B22234, #B22234 7.7%, white 7.7%, white 15.4%); background-size: 40% 53.85%, 100% 100%; background-repeat: no-repeat; background-position: top left;"></div>

        <p>And if you, like Bryan Fischer, believe that morally speaking <a href="http://www.onenewsnow.com/perspectives/bryan-fischer/2015/06/26/scotus-blows-up-twin-towers-of-truth-and-righteousness#.VY2KzJgFCOg.twitter" rel="nofollow">“6/26 is our 9/11</a>”, you can move the canton from <code>top left</code> to <code>bottom left</code> in order to invert the flag, which is permitted “as a signal of dire distress in instances of extreme danger to life or property”.</p>

        <p>(Of course, it’s a lot easier to do that with background positioning since I didn’t include the stars.  If the stars were there, then we’d have left the canton’s position alone and done a <code>rotateX()</code> transform instead.)</p>

        <p>So, there you go: two gradient flags.  You can see both (along with the “distress” variant) on <a href="http://meyerweb.com/eric/css/tests/gradient-flags.html">this test page</a>.  If you’ve any desire to use any or all of them, go ahead.  No copyright, trademark, patent, etc., etc. is asserted, implied, etc., etc.  I just wanted to have a little fun with gradients, and thought I’d share.</p></div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/06/26/the-guilt-i-carry/" rel="bookmark" title="Permanent Link: The Guilt I Carry">The Guilt I Carry</a></h3>
      <ul class="meta">
        <li class="date">Fri 26 Jun 2015</li>
        <li class="time">0950</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/commentary/" rel="category tag">Commentary</a><br><a href="http://meyerweb.com/eric/thoughts/category/personal/parenting/" rel="category tag">Parenting</a><br><a href="http://meyerweb.com/eric/thoughts/category/personal/" rel="category tag">Personal</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/06/26/the-guilt-i-carry/#comments">No responses</a></li>
      </ul>

      <div class="text">
        <p>Last year, in an effort to help him and many friends of mine struggling with the tragic death of Chloe Weil, <a href="https://adactio.com/journal/7030#comment2493">I told Jeremy Keith I had let go of guilt over Rebecca’s death</a>, and that was the truth.  I mourned, I had regrets, but there was no guilt, because there was nothing we could have done except what we did.  Her cancer and death was always going to happen, and the only thing—the <em>only</em> thing—we could have done to avoid it was to have never adopted Rebecca in the first place, thus causing some other family to experience all the joy and sorrow of her brief life.  I accepted that, and it brought some small measure of peace.</p>

        <p>All that was true.  Almost all of it is still true…except for guilt.  That came back, seeping into me so slowly that it took me a long time to realize it.  When I finally recognized it for what it was, I realized it had been there for months.  I also realized it was a particular form of guilt: survivor’s guilt.  This came as a surprise, honestly.  As it’s usually defined, at least as I understand it, survivor’s guilt seems to be recognized in the parents of children who take their own lives, but not to those whose children die from disease or accident.</p>

        <p>Last week, I published <a href="http://modernloss.com/guilt-and-apologies-after-my-daughters-death/">my first piece with Modern Loss</a> to talk about this.  A brief excerpt:</p>

        <blockquote>
          <p>If Joshua had asked why I was saying sorry, I would have told him I wasn’t apologizing because I felt guilty, but rather because I was sorry in the sense of <em>sorrowful</em>. Sorry he had to experience the death of his older sister, who died on her sixth birthday of aggressive brain cancer. Who had been gone just about 51 weeks on the day we had that conversation. Sorry she had been terminally ill, sorry the world is as harsh and unfair as it is, sorry his best friend in the world is dead.</p>
          <p>But not sorry out of responsibility or guilt. At least, that’s what I would have said, but I’d have been violating one of my basic tenets of parenting. Because I would have been lying to him.</p>
        </blockquote>

        <p>You can <a href="http://modernloss.com/guilt-and-apologies-after-my-daughters-death/">read the whole thing at Modern Loss</a>.  It’s a standard-length article, about 800 words.</p>

        <p>I wrote it, in part, to understand myself.  But I published it in the hopes that it will help someone, some day, understand a bereaved friend or relative a little bit better…or possibly even themselves.</p></div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/06/09/witness/" rel="bookmark" title="Permanent Link: Witness">Witness</a></h3>
      <ul class="meta">
        <li class="date">Tue 9 Jun 2015</li>
        <li class="time">2322</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/personal/cleveland/" rel="category tag">Cleveland</a><br><a href="http://meyerweb.com/eric/thoughts/category/commentary/" rel="category tag">Commentary</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/06/09/witness/#comments">Two responses</a></li>
      </ul>

      <div class="text">
        <p>I’m writing this as Game 3 of the NBA Finals is playing downtown, not knowing how it’s going.  The Cavaliers may be up by 30, or down by 30; it doesn’t actually matter to me either way.  I’m not much of a sports fan, truth be told.</p>

        <p>But I am a <em>Cleveland</em> fan.</p>

        <p>I’ve lived here more than half my life now, after a rootless early childhood and then a semi-rural upbringing.  I came here for college, way back in the late 1980s, and never left.  Never wanted to leave.  The opportunities were there, but I never took them.  When Netscape came to me and asked if I wanted to be a Standards Evangelist, I told them only if I could do it without relocating.  They said yes.  I told Google the same thing about a decade later; they said no.</p>

        <p>Something about this city got into me, and didn’t let go.  We have our problems, sure.  You’ve heard some of them on the news.  Everywhere has problems.  I hope we can fix ours, and I hope other places can fix theirs.  Either way, I have long been proud to call Cleveland home, as I will for years to come.</p>

        <p>Most of my friends are incredibly excited about the Cavaliers.  Deliriously so, some of them.  It’s pretty awesome to experience, even secondhand.  So I’ve been reading about how the first two games of the finals went, and in them, I recognized something very familiar.</p>

        <p>From what I’ve read, pretty much nobody outside the 216 gave the Cavs any real chance in this series.  The Golden State Warriors were judged to be simply too powerful.  And yet, Game 1 went into overtime, where the Cavs lost steam and one of their star players to injury.  Everyone (outside Cleveland, that is) said that was it.  The Cavs made it a great game, they said, but being down to one star player was the end of their run.  After which, Game 2 went to overtime, and the Cavs won it by a razor-thin margin.</p>

        <p>That’s Cleveland in a nutshell.</p>

        <p>This is a city that is constantly underestimated and derided, but we already know our faults, and we know our strengths.  There’s a core of steel under the bruised and battered skin.  Just like the Cavs.  Down to one headline player, they managed to force overtime and pull a win on the home court of the team that everyone said they couldn’t beat.  The Grit Squad, they’re calling themselves now.  People are saying the LeBron has taken a team of players that shouldn’t be this good and made them into a force.  That may well be, and if so, LeBron stands to make far more as Coach James than he ever will as King James.</p>

        <p>America loves an underdog, but it also loves to dump on Cleveland, so I have no idea how sports fans around the country have seen this series.  What I know now is that, win or lose, the Cavaliers have shown the rest of the country what this city is really like, and for that alone they’ve earned my respect.  I think they deserve the same from anyone who’s witnessed what they’ve done.</p>

        <p>So Game 3 is underway, probably close to done or even finished by now.  I have no idea if it was another squeaker or a blowout, nor who won.  As soon as I publish this, I’ll go check on how things went.  For the sake of all my friends, I hope the Cavs made it a win in their first Finals home game—but however things turned out, I’m sure The Q was bedlam tonight as the fans celebrate not just being in the finals, but the spirit of the team that embodies this city I call home.</p>
      </div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/06/07/afterimage-2/" rel="bookmark" title="Permanent Link: Afterimage">Afterimage</a></h3>
      <ul class="meta">
        <li class="date">Sun 7 Jun 2015</li>
        <li class="time">1630</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/personal/" rel="category tag">Personal</a><br><a href="http://meyerweb.com/eric/thoughts/category/personal/rebecca/" rel="category tag">Rebecca</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/06/07/afterimage-2/#comments">Five responses</a></li>
      </ul>

      <div class="text">
        <p>
          I remember her last breaths. <br />
          I remember how she methodically ate every last scrap of frosting from her birthday cupcake. <br />
          I remember her eating Sasa fries and looking with affection at little Joey, who’d come to her last meal. <br />
          I remember the last sentence she ever spoke. <br />
          I remember her singing and blowing out the candles at her sixth birthday party. <br />
          I remember her many laughs—gleeful with mischief, wild with delight, brimming with amusement. <br />
          I remember how her whole body shook when she laughed. <br />
          I remember how ticklish she was, and how much she loved being tickled. <br />
          I remember when she had finally grown enough that her fingers could interlace with mine when we held hands. <br />
          I remember the quiver of her lip as we told her there was no special medicine. <br />
          I remember her screaming “YES!!!” when we told her we’d bought season passes to Cedar Point. <br />
          I remember how she would oppose and defy us even when it cost her something she wanted. <br />
          I remember how she insisted on doing everything herself, insisting she needed no help even when she clearly did. <br />
          I remember how she would respond to my jokes in a flat, unimpressed voice: “Seriously?” <br />
          I remember how she’d cheat at every game and laugh about it as she did. <br />
          I remember playing air hockey with her. <br />
          I remember how much she loved to wear sparkly princess dresses. <br />
          I remember snowflakes stuck in her curly hair. <br />
          I remember her sticking her tongue out at me. <br />
          I remember her learning to read and write her name. <br />
          I remember how she nearly always threw up a hand to block me taking pictures of her. <br />
          I remember her painting her own nails for the first time. <br />
          I remember how much she loved to have her face painted. <br />
          I remember her squealing with delight when we told the kids we were going to Disney World. <br />
          I remember sitting on the porch roof with her and her siblings, watching the clouds and waving to people on the sidewalk below. <br />
          I remember her arms locked tight around my neck in a squeezy hug. <br />
          I remember her snuggled into my lap as I read her a book. <br />
          I remember her huddled against me and flinching every time a firework burst. <br />
          I remember how she would nod her head with studied nonchalance and say in an offhand, half-dismissive tone, “Yeah, cool, Dad.” <br />
          I remember how much she loved and looked up to and emulated her big sister. <br />
          I remember how much she loved and played with and protected her little brother. <br />
          I remember how she loved watermelon so much she’d eat half a melon by herself and then say she was too full for dinner. <br />
          I remember how she danced through life at every turn. <br />
          I remember her unbounded joy. <br />
          I remember how her body strained against my arms when I had to restrain her, to keep her from hitting, screaming her defiance until I wore her down. <br />
          I remember how she jumped waves at the beach, flinging herself into the air with no thought of how she would land, no concern except to jump over the crest as high as possible. <br />
          I remember her shouting “Watch me!” before jumping from the pool’s edge to her mother’s arms. <br />
          I remember how much she loved to splash in any pool or a puddle or any body of water. <br />
          I remember her playing in a big box of styrofoam packing peanuts, shrieking with delight. <br />
          I remember how she would grab my thumbs and climb up my front until she was standing on my shoulders, giggling all the way. <br />
          I remember her nestled into a sling on her mother’s back, peeking out at the world with a sly grin. <br />
          I remember how she used to carefully stick a raspberry on each fingertip before eating them one at a time, again and again. <br />
          I remember her feeding a giraffe. <br />
          I remember how much she loved coffee. <br />
          I remember her throwing rings at the bottles on the boardwalk. <br />
          I remember her trying to wash the dishes when she was barely tall enough to stand on a stepstool and see into the sink. <br />
          I remember her sitting in the car at the sledding hill, warming her hands against the air grating and waiting for us to be done. <br />
          I remember how she always wanted to drive the car. <br />
          I remember how she waited for her first birthday party to take her first steps, so she’d have as big an audience as possible. <br />
          I remember how she would call to her sister: “Lerlyn! Ah ooo?” <br />
          I remember her sister stamping the papers that finalized her adoption. <br />
          I remember the gleam in her two-week-old eyes that made me call her “Little Spark”. <br />
          I remember how wide and clear her big brown eyes always were. <br />
          I remember the first time I ever saw her, asleep in a car seat in a trailer home in a park in the middle of a cornfield in the middle of Ohio. <br />
          I remember how joyful I was when I picked her up and nestled her in my arms. <br />
          I remember how scared I was. <br />
          I remember.
        </p></div>

    </div>


    <div class="entry">
      <h3><a href="http://meyerweb.com/eric/thoughts/2015/06/06/spring-air/" rel="bookmark" title="Permanent Link: Spring Air">Spring Air</a></h3>
      <ul class="meta">
        <li class="date">Sat 6 Jun 2015</li>
        <li class="time">1620</li>
        <li class="cat"><a href="http://meyerweb.com/eric/thoughts/category/personal/rebecca/" rel="category tag">Rebecca</a></li>
        <li class="cmt"><a href="http://meyerweb.com/eric/thoughts/2015/06/06/spring-air/#comments">13 responses</a></li>
      </ul>

      <div class="text">
        <p>I’m sitting on the love seat on my front porch.  It’s a beautiful spring day, the blue sky flecked with a few wispy clouds—certainly not enough to dim the sun’s warmth even when they do drift in front of it.  There’s a slight breeze stirring the clean June air, almost but not quite cool enough in the shade to call for a sweatshirt.</p>

        <p>The feel of the air on my skin, the smell of spring, the sounds of the neighborhood, the sun and temperature, all exactly the same as they were one year ago today, and the combined sense of parallel and divergence is intense.</p>

        <p>We had just started our meeting with the rabbi, upstairs in the library, beginning to discuss the details of the memorial service we knew we could not avoid, when our friends shouted up in panicked voices that something was wrong with Rebecca.  By the time we reached the porch, she was almost unconscious.  There had been a seizure, a small one, but we assumed it was the first of many.  We called the hospice nurse and then Kat and I sat to either side of her on the love seat, snuggling in close.  For more than an hour, Rebecca seemed to be asleep, and yet was, at some level, still aware.  When Kat tried to shift her arm, Rebecca reached up, never even opening her eyes, to pull it back around her shoulders.</p>

        <p>So we kept talking to her, telling her how much we loved her, how much everyone loved her, going through all their names again and again.  Telling her stories about herself, favorite memories of hers and ours.  Telling her we were with her <a href="http://meyerweb.com/eric/thoughts/2014/04/08/all-the-way-together/">all the way to end, all of us together</a>.  Telling her that she could stop fighting.  Telling her she could go.</p>

        <p>She never stirred, except to make sure Kat’s arm stayed around her.  And after an hour or two, even that ceased.  Her body was completely limp, her breath steady but slow and getting slower.</p>

        <p>We were sure she was going to die that sunny spring afternoon, in the shade of our porch, surrounded by our love, just shy of turning six.</p>

        <p>And then, late in the afternoon, she suddenly stirred and sat up, her eyes open.  “Hey,” I said to her, and I remember how my voice was filled with wonder and surprise.  “Hey there, Little Spark.  Did you take a nap?”</p>

        <p>She nodded.</p>

        <p>“Would you like to go to dinner?”</p>

        <p>Another nod.  She had already spoken her last words, hours before.</p>

        <p>“What would you like?  Sasa fries?”</p>

        <p>Nod.  This one might have been a tiny bit more energetic.</p>

        <p>So we and some of those who had assembled headed to <a href="http://www.sasacleveland.com/">Rebecca’s favorite restaurant in the world</a>, owned by our friends, the place every one of our kids had come for their first meal outside of the house.  Rebecca had her favorite meal: a Japanese cream soda, some miso soup with extra tofu, and the Sasa fries.  She was able to carefully drink the soda from a sake cup by herself, and eat the fries, slowly, one at a time.  The soup required some assistance.</p>

        <p>Back home that evening, we got birthday cupcakes ready.  It wasn’t her birthday until the next day, June 7th, but all day we had been doing birthday things—favorite breakfast, dinner at Sasa, cupcakes—because we were afraid she wouldn’t be there the next day, and we figured that if she was, we’d just do it all again.  Homemade cinnamon rolls every morning, Sasa and cupcakes every night, for however many days were left.</p>

        <p>There were none.</p>

        <p>I came into the living room to find Rebecca and Carolyn asleep, snuggled against each other on the sofa.  I kept silent and just watched them sleep, experiencing a bittersweetness beyond any I had imagined.</p>

        <p>Then the cupcakes were brought in, and Rebecca woke up to see the lit candle in hers and to have us sing her “Happy Birthday”.  There was no expression on her face as she stared at the flame, no flicker of emotion.  She just stared as we blew out the flame for her, her face like a mask that hid our daughter.</p>

        <p>But she ate the whole cupcake, and every bit of frosting, slowly and methodically scraping every last scrap off the plate and licking it from her fingers.  When it was done, I asked if she was ready for bed, and at her nod led her to the stairs.  She put a hand on the banister and walked up the stairs on her own, holding my hand without actually needing it.</p>

        <p>I felt a small sliver of hope at that, until I realized that throughout all the frosting and stair-climbing, the teeth-brushing and changing for bed, being snuggled under the covers, her expression still never changed.  No joy, no excitement, no annoyance, no anger.  Nothing.</p>

        <p>I was so incredibly proud of her, though.  She was so exhausted, and yet she insisted on doing as much as she could by herself.  The mask of her face may have hidden her emotions, but her fire was still as clear as ever.  I was humbled beyond measure.</p>

        <p>Kat read Rebecca her favorite stories for the last time.</p>

        <p>Tomorrow will be the first anniversary of her death, the day she would have turned seven years old.  I sit on the porch, and all my senses tell me that day has come again.  It is so incredibly alike, and yet so different, sitting here on the love seat in the cool June breeze without my Little Spark.</p>
      </div>

    </div>

  </div>
  <p style="font-size: 90%; text-align: right; margin-top: 0.5em; padding-top: 0;">(If you care, there's even an <a href="/eric/thoughts/page/2/">archive of previous thoughts</a>...)</p>

</div>

<div id="extra">

  <div class="panel" id="archipelago">
    <h4>Identity Archipelago</h4>
    <ul>
      <li><a href="http://flickr.com/photos/meyerweb/" rel="me">Flickr</a></li>
      <li><a href="https://twitter.com/meyerweb" rel="me">Twitter</a></li>
      <li><a href="https://facebook.com/meyerweb" rel="me">Facebook</a></li>
      <li><a href="https://github.com/meyerweb" rel="me">GitHub</a></li>
      <li><a href="http://www.linkedin.com/in/meyerweb" rel="me">LinkedIn</a></li>
      <li><a href="http://technorati.com/profile/emeyer" rel="me">Technorati</a></li>
    </ul>
  </div>

  <div class="panel" id="pointers">
    <h4>Projects Elsewhere</h4>
    <ul>
      <li><a href="http://aneventapart.com/">An Event Apart</a></li>
      <li><a href="http://complexspiral.com/">Complex Spiral Consulting</a></li>
      <li><a href="http://rebeccasgift.org/">Rebecca’s Gift</a></li>
      <li><a href="http://css-discuss.org/">css-discuss</a></li>
      <li><a href="http://microformats.org/">Microformats</a></li>
      <li><a href="http://s5project.org/">S5</a></li>
    </ul>
  </div>

  <div class="panel" id="tour">
    <ul>
      <li><a href="http://fray.com/issue3/"><img src="http://fray.com/images/i3c.gif" alt="Fray Contributor (Issue 3: Sex &amp; Death)" /></a></li>
      <!--
      <li><a href="http://www.webassist.com/go/css/emeyer/"><img src="/pix/CS_ad_180x109.jpg" alt="CSS Sculptor for Dreamweaver" style="max-width: 100%;" /></a></li>
       -->
    </ul>
  </div>



  <div class="panel" id="advisory">
    <div class="guarded">
      <a href="http://blogadvisorysystem.com/"><img src="/pix/bas/guarded.png" alt="Blog Advisory System Alert Level: Guarded"></a>
    </div>
  </div>

  <div class="panel" id="excuse">
    <h4>The <a href="/feeds/excuse/">excuse of the day</a> is</h4>
    <p>the breakup of the American family</p>
  </div>

  <div class="panel" id="extras">
    <h4>Extras</h4>
    <ul>
      <li><a href="/feeds/">Feeds</a> &#8226;</li>
      <li><a href="/eric/faq.html">FAQ</a> &#8226;</li>
      <li><a href="/family.html">Family</a></li>
    </ul>
  </div>

</div>

<div id="navigate">
  <h4>Navigation</h4>
  <ul id="navlinks">
    <li id="archLink"><a href="/eric/thoughts/">Archives</a></li>
    <li id="cssLink"><a href="/eric/css/">CSS</a></li>
    <li id="toolsLink"><a href="/eric/tools/">Toolbox</a></li>
    <li id="writeLink"><a href="/eric/writing.html">Writing</a></li>
    <li id="speakLink"><a href="/eric/talks/">Speaking</a></li>
    <li id="otherLink"><a href="/other/">Leftovers</a></li>
    <li id="aboutsite"><a href="/ui/about.html">About this site</a></li>
  </ul>
</div>

<div id="footer">
  <p class="sosumi">All contents of this site, unless otherwise noted, are &copy;1995-2015 <strong>Eric A. and Kathryn S. Meyer</strong>.  All Rights Reserved.</p>
  <p>"<a href="/eric/thoughts/">Thoughts From Eric</a>" is powered by the &uuml;bercool <a href="http://wordpress.org/">WordPress</a></p>
</div>
</body>
</html>
<!-- WP Super Cache is installed but broken. The path to wp-cache-phase1.php in wp-content/advanced-cache.php must be fixed! -->