//
// @file
// This file initializes, sets up variables and maps needed for imported gems.
// It is imported first so it can enable proper gem import and usage.
//

// Supported browsers variable for Compass.
$browser-minimum-versions: (
  'chrome':  null,
  'firefox': null,
  'ie':      "9",
  'safari':  null,
  'opera':   null
);

// Set up Zen Grids.
$zen-columns                      : 1;
$zen-gutters                      : 20px;
$zen-auto-include-grid-item-base  : false;

// DEBUG! Remember to turn off!
$display-zen-grid-background      : false;

// Normalize.scss settings
$strict-normalize                 : true; // !default;
$box-sizing-polyfill-path         : 'boxsizing.htc';
