// Set up a unit of vertical rhythm.
$base-font-size                   : 16px;
//$base-line-height                 : 1.5em;  // em conflicts with normalize px measures
$base-line-height                 : 24px;  // 1.5em
$rhythm-unit                      : 'em' !default;
//$vertical-rhythm                  : 1rem*($base-line-height/1em);
$vertical-rhythm                  : 1.5rem;

// Font stacks
$base-font-family                 : "Open Sans", Verdana, Helvetica, sans-serif !default;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;
