/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 40, ../scss/screen.scss */
.example-container .block {
  text-align: center;
}

/* line 47, ../scss/screen.scss */
.example-container {
  *position: relative;
  *zoom: 1;
}
/* line 45, ../../../../../.rvm/gems/ruby-2.2.1/gems/zen-grids-2.0.0.beta.3/stylesheets/zen-grids/_grids.scss */
.example-container:before, .example-container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../.rvm/gems/ruby-2.2.1/gems/zen-grids-2.0.0.beta.3/stylesheets/zen-grids/_grids.scss */
.example-container:after {
  clear: both;
}

/* line 50, ../scss/screen.scss */
.block-a {
  float: right;
  width: 42.85714%;
  margin-right: 28.57143%;
  margin-left: -100%;
  *margin-left: -99.9%;
  background: #fcc;
}

/* line 54, ../scss/screen.scss */
.block-b {
  float: left;
  width: 28.57143%;
  margin-left: 0%;
  margin-right: -100%;
  *margin-right: -99.9%;
  background: #cfc;
}

/* line 58, ../scss/screen.scss */
.block-c {
  float: left;
  width: 28.57143%;
  margin-left: 71.42857%;
  margin-right: -100%;
  *margin-right: -99.9%;
  background: #ccf;
}

/* line 62, ../scss/screen.scss */
.block-d {
  clear: left;
  float: left;
  width: 28.57143%;
  margin-left: 0%;
  margin-right: -100%;
  *margin-right: -99.9%;
  background: #ffc;
}

/* line 67, ../scss/screen.scss */
.block-e {
  float: left;
  width: 28.57143%;
  margin-left: 71.42857%;
  margin-right: -100%;
  *margin-right: -99.9%;
  background: #cff;
}

/* line 71, ../scss/screen.scss */
.block-1 {
  clear: left;
  background: #fcf;
  min-height: 4em;
  padding: 2em;
}
/* line 76, ../scss/screen.scss */
.block-1 p {
  background: #add;
  padding: 2em;
  position: relative;
  text-align: left;
  max-width: 4em;
}
/* line 82, ../scss/screen.scss */
.block-1 p:before {
  content: '<1b';
  background: #dad;
  padding: 2em;
}
/* line 88, ../scss/screen.scss */
.block-1 p:after {
  content: '1a>';
  background: #dda;
  padding: 2em;
}
